body {
    margin: 0;
    background-color: white;
}


header {
    width: 100%;
    background-color: #222;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    box-sizing: border-box;
}


h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
}


.botao-estilizado {

    text-decoration: none;

    padding: 12px 22px;
    margin-left: 15px;

    border-radius: 10px;

    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);

    color: white;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    display: inline-block;

    transition: all 0.3s ease;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.botao-estilizado:hover {

    background: linear-gradient(135deg, #339cff 0%, #00d0db 100%);

    transform: translateY(-3px);

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}


.botao-estilizado:active {
    transform: scale(0.96);
}
